node_modules/
out/
screens/
testresults/
reports/
.env
.vscode/
.idea/
__pycache__/
Starts/__pycache__/*
COVID-19/
*/data/Vaccine/
*/data/COVID-19/
*/data/COVID-19_Unified/
.ipynb_checkpoints/
debug.ipynb
speedup.ipynb
18_Covid-19/old/
COVID-19_Unified/
18_Covid-19_groups_compare.ipynb
tk.txt
